<configuration>

    <define name="hostname" 
        class="ch.qos.logback.core.property.CanonicalHostNamePropertyDefiner"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${hostname}] [%thread] %-5level %logger{5} - %msg %n</pattern>        
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        
        <file>./logs/${HOSTNAME}-spring-cloud-petclinic-service.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${hostname}] [%thread] %-5level %logger{5} - %msg %n</pattern>        
        </encoder>
    </appender>

    <!-- 
        Loki Logging 
    -->
    <!--
    <if condition='isDefined("LOKI_HOST_URL")'>
    -->
    
    <if condition='isNull("LOKI_HOST_URL")'>
        <then>
        </then>
        <else>
            <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
                <http>
                    <url>${LOKI_HOST_URL}/loki/api/v1/push</url>
                </http>
                <format>
                    <label>
                        <pattern>app=spring-cloud-petclinic-service, environment=production, region=us-west-1, level=%level</pattern>
                        <readMarkers>true</readMarkers>
                    </label>
                    <message>
                        <pattern>
                            %d{yyyy-MM-dd HH:mm:ss} [${hostname}] [%thread] %magenta(%-5level) %green([%-50.50class]) >>> %cyan(%msg) %n
                        </pattern>
                    </message>
                    <sortByTime>true</sortByTime>            
                </format>
            </appender>
        </else>
        
    </if>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
    </appender>

    <!--
    <logger name="org.springframework.beans" level="DEBUG" />
    <logger name="org.springframework.retry" level="DEBUG" />    
    <logger name="org.springframework" level="DEBUG" />
    <logger name="com.github" level="DEBUG" />
    -->

    <logger name="com.eric" level="DEBUG" />
    <logger name="com.github" level="DEBUG" />    

    <if condition='isNull("LOKI_HOST_URL")'>

        <then>
            <root level="INFO">
                <appender-ref ref="CONSOLE" />        
                <appender-ref ref="ASYNC" />
            </root>

        </then>

        <else>
            <root level="INFO">
                <appender-ref ref="CONSOLE" />        
                <appender-ref ref="ASYNC" />
                <appender-ref ref="LOKI" />
            </root>
        </else>

    </if>












</configuration>