<configuration>

    <define name="hostname" 
        class="ch.qos.logback.core.property.CanonicalHostNamePropertyDefiner"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${hostname}] [%thread] %-5level %logger{5} - %msg %n</pattern>        
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        
        <file>logs/${HOSTNAME}-spring-cloud-petclinic-service.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [${hostname}] [%thread] %-5level %logger{5} - %msg %n</pattern>        
        </encoder>
    </appender>


    <!-- Loki Logging -->
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=spring-cloud-petclinic-service, environment=production, region=us-west-1, level=%level</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss} [%thread] %magenta(%-5level) %green([%-50.50class]) >>> %cyan(%msg) %n
                </pattern>
            </message>
        </format>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
    </appender>

    <!--
    <logger name="org.springframework.beans" level="DEBUG" />
    <logger name="org.springframework.retry" level="DEBUG" />    
    <logger name="org.springframework" level="DEBUG" />
    <logger name="com.github" level="DEBUG" />
    -->

    <logger name="com.eric" level="DEBUG" />
    <logger name="com.github" level="DEBUG" />    

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOKI" />        
        <appender-ref ref="ASYNC" />
    </root>

</configuration>