#
# Java Spring Boot Kubernetes Settings
#
# config-consumer-service settings
#

export MK_IMAGE_PUSH_TARGET="spring-cloud-petclinic-service:2.8.50-RELEASE"
export MK_IMAGE_PUSH_TARGET_PREFIX="ericm24"

#export MK_IMAGE_PUSH_SKIP_MINIKUBE="true"

export MK_IMAGE_PUSH_SKIP_DOCKER_HUB="true"

#
# Enable when Loki is enabled.  For localhost, from docker-compose project run docker-compose up -d
#

#export LOKI_HOST_URL='http://localhost:3100'


